{{>_messages}}
<h5>Welcome to your dashboard, {{ userName }}</h5>

<legend><strong>User stories:</strong></legend>
{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td><a href="/stories/edit/{{this._id}}" class="link" title="edit story">{{this.title}}</a></td>
          <td>{{formatDate this.createdAt}}</td>
          <td><span class="dash-status">{{this.status}}</span></td>
          <td>
            <form action="/stories/{{this._id}}" method="POST" class="delete-form">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-float red darken-2">
                <i class="fas fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  No stories
{{/if}}
