<h5>Welcome to your dashboard, {{ userName }}</h5>

<legend><strong>User stories:</strong></legend>
{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td><a href="/stories/{{this._id}}" class="link">{{this.title}}</a></td>
          <td>{{this.createdAt}}</td>
          <td><span class="dash-status">{{this.status}}</span></td>
          <td></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  No stories
{{/if}}
